@import "tailwindcss";

@theme {
  --color-neon-green: #39ff14;
  --color-neon-hover: #32e612;
  --color-dark-bg: #050505;
  --color-dark-surface: #0a0a0a;
  --color-dark-border: #1f1f1f;

  /* Animations */
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }

    to {
      height: 0;
    }
  }
}

:root {
  --background: var(--color-dark-bg);
  --foreground: #ededed;

  /* Shadcn-like variables overridden for our dark theme */
  --card: var(--color-dark-surface);
  --card-foreground: #ededed;

  --popover: var(--color-dark-surface);
  --popover-foreground: #ededed;

  --primary: var(--color-neon-green);
  --primary-foreground: #000000;

  --secondary: #1a1a1a;
  --secondary-foreground: #ededed;

  --muted: #1a1a1a;
  --muted-foreground: #a1a1aa;

  --accent: #1a1a1a;
  --accent-foreground: var(--color-neon-green);

  --destructive: #ef4444;
  --destructive-foreground: #3f1616;

  --border: var(--color-dark-border);
  --input: var(--color-dark-border);
  --ring: var(--color-neon-green);

  --radius: 0.5rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-grid-pattern {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
}


/* Scrollbar aesthetic */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-dark-bg);
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}